<h1>Edit your profile</h1>

<% if current_user.photo.key? %>
  <%= cl_image_tag current_user.photo.key, class: "img-fluid",  alt: "dropdown menu"%>
<% else %>
  <%= image_tag "none_image_user.png", class: "img-fluid" %>
<% end %>

<%# <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, class: "img-fluid" %>

<%= simple_form_for(@user) do |f| %>

  <%= f.input :photo, as: :file %>
  <%= f.input :name %>

  <%= f.submit "Edit your profile image" %>

<% end %>
