<div class="container mb-4 pt-5">
  <div class="book-show row">
<<<<<<< HEAD

=======
    <div class="img-book-show-div col-6">
        <%= cl_image_tag @book.photo.key, height: 300, width: 400, class: "img-fluid img-book-show" %>
    </div>
>>>>>>> 2092f3f254319df105e8812eab7877c9d6a6b177
    <div class="description-book-show col-6 p-4 ">
    <% if @book.photo.key? %>
        <%= cl_image_tag @book.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1568819297129-80fd50360f8e?auto=format&fit=crop&q=80&w=1936&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt: "Le Wagon", class: "img-book" %>
      <% end %>

<h1><strong><%= @book.title %>, <%= @book.author %></strong></h1>
<h3>Category: <%= @book.category %></h3>
<p>Description: <%= @book.description %></p>
<p><%= @book.price %>$</p>

    </div>
  </div>

</div>

<p style="color: green"><%= notice %></p>

<<<<<<< HEAD



=======
>>>>>>> 2092f3f254319df105e8812eab7877c9d6a6b177
<div>
  <% if @book.user == current_user %>
  <%= link_to "Update your description", edit_book_path(@book) %>
  <% end %>
  <%= link_to "Main page", books_path %>
  <p><%= link_to "Rent this book", new_book_booking_path(@book) %></p>
</div>
