<p style="color: green"><%= notice %></p>

<%= cl_image_tag @book.photo.key, height: 300, width: 400, crop: :fill %>
<h1><%= @book.title %>, <%= @book.author %></h1>
<p>Category: <%= @book.category %></p>
<p>Description: <%= @book.description %></p>
<p><%= @book.price %>$</p>


<div>
  <% if @book.user == current_user %>
  <%= link_to "Update your description", edit_book_path(@book) %>
  <% end %>
  <%= link_to "Main page", books_path %>
  <p><%= link_to "Rent this book", new_book_booking_path(@book) %></p>
</div>
