<p style="color: green"><%= notice %></p>


<h1><%= @book.title %></h1>
<p><%= @book.category %></p>
<p><%= @book.price %></p>
<p><%= @book.description %></p>


<div>
  <% if @book.user == current_user %>
  <%= link_to "Modifier la description de ton livre", edit_book_path(@book) %>
  <% end %>
  <%= link_to "Retour a la page principale", books_path %>
</div>
